@import url('https://fonts.googleapis.com/css?family=Oswald');
html { 
  background: url(sunset.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
margin: 0;
}
header {
background: black;
color: white;
padding: 8px 0 6px 40px;
height: 45px;
}
header h1 {
display: inline;
font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 32px;
float: left;
margin-top: 0px;
margin-right: 50px;
}
nav ul {
display: inline;
padding: 0px;
float: left;
}
h1 {
padding-left: 5%;
}
#nav {
font-family: 'Oswald', sans-serif;
}
nav ul li {
display: inline;
text-decoration: none;
}
nav ul li a:hover {
color: red;
}
.content {
background-color: rgba(0,0,0,0.7);
color: white;
font-weight: bold;
margin: 0 auto;
font-family: 'Oswald', sans-serif;
}
h2 {
color: white;
font-weight: bold;
margin: 0 auto;
font-family: 'Oswald', sans-serif;
padding-left: 5%;
}
p {
color: white;
font-weight: bold;
font-family: 'Arial', sans-serif;
padding-left: 5%;
font-size: 94%;
line-height: 190%;
text-align: left;
}
.social {
list-style-type: none;
text-align: center;
}
.social li {
display: inline;
}
.social i {
font-size: 270%;
margin: 1% 5% 7% 4%;
color: #2C2C2C;
}
.social i:hover {
color: #606060;
}
footer.second p {
color: white;
text-align: center;
padding: 5%;
}
  @media screen and (max-width: 768px) {
#menu-icon {
margin: 26px 0 0 26px;
 }
nav ul, nav:active ul {
padding: 8px 0;
left: 23px;
top: 34px;
width: 50%;
 }
.inner {
font-size: 120%;
 }
.content h1 {
font-size: 100%;
 }
p {
font-size: 120%;
 }
h2 {
font-size: 160%;
 }
.left-col{
width: 96%;
margin: 0 0 3% 0;
padding: 0 2%;
 }
.sidebar {
width: 96%;
margin: 0 auto;
 }
img {
padding: 2%;
  width: auto;
  height: 20%;
 }
.one-third-port {
width: 96%;
margin: 0 auto;
padding: 0;
 }
.break {
display: block;
 }
.parallax {
display: none;
 }
.social i {
font-size: 170%;
 } 
}
